<aside class="sidebar">
  {% if SIDEBAR_IMAGE %}
  <section style="text-align:center">
      <img src="{{ SITEURL }}/{{ SIDEBAR_IMAGE }}" alt="{{ SIDEBAR_IMAGE_ALT}}" width="{{SIDEBAR_IMAGE_WIDTH}}"/> <br />
      {{TAGLINE}}
  </section>
  {% endif %}
  <section>
    <h1>Recent Posts</h1>
    <ul id="recent_posts">
      {% for article in articles[:5] %}
      <li class="post">
          <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title|striptags }}</a>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% if categories %}
  <section>
      
    <h1>Categories</h1>
    <ul id="recent_posts">
      {% for category, articles in categories %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
      {% endfor %}
    </ul>
  </section>
  {% endif %} 

  <section>
  <h1>Tags</h1>
  {% for tag, article in tags %}
  {%  if article|length > 4 %}
  {%  set size = "big" %}
  {% else %}
  {% set size = article|length %}
  {%  endif %}
  <a title="View {{article|length}} article{%  if article|length > 1 %}s{%endif%} with the tag {{tag}}." href="{{ SITEURL }}/{{ tag.url }}" class="tagcloud{{size}}">{{ tag }}</a>{% if not loop.last %},{% endif %}
  {% endfor %}
  </section>

  {% include '_includes/social.html' %}
</aside>
