// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// Lifted from pelican

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

div.alert{
    @include border-radius(0.4em);
    border: 1px solid $solar-orange;
    margin-top: 1em;
    margin-bottom: 1em;
    color: $solar-red;
    background-color: #fdf6e3;
    padding: .8em !important;
}
